
<html>
  <head>
      <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    		<link rel="stylesheet" href="/main.css" />
    		<script src="/assets/js/ie/html5shiv.js"></script>
    		
  </head>
  <body>
   
  <div id="all">
  <nav id="nav">
    <div class="row">
      <div class="col-md-4 col-xs-2 col-sm-2"></div>
      <div class="col-md-1 col-xs-2 col-sm-2"><a href="/home/index" id="name"> <i class="fa fa-twitch fa-1x"> 이름</i> </a></div>
      <div class="col-md-2 col-xs-4 col-sm-4"><a href="/home/index/2"id = "sname"><i class="fa fa-table fa-1x">  과목 </i> </a></div>
      <div class="col-md-1 col-xs-2 col-sm-2"><a href="/home/index/3"id="snumber"><i class="fa fa-sort-numeric-desc fa-1x"> 학수번호</i> </a></div>
      <div class="col-md-4 col-xs-2 col-sm-2"></div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7 col-xs-8 col-sm-8"></div>
    <div class="col-md-1 col-xs-2 col-sm-2"><div id="tri"></div></div>
    <div class="col-md-4 col-xs-2 col-sm-2"></div>
  </div>
   <div class="row">
    <div class="col-md-3 col-xs-1 col-sm-1"></div>
    <div class="col-md-6 col-xs-10 col-sm-10">
      <div id="main" >
        <form  class="whitebox">
          <% a= @iddd.p_id.to_i-1 %>
          <img src="/man2.png" ></br>
          <span id="na"><%=  @sssubject_p[a].name %></span></br>
          <%=  @sssubject_p[a].bel %></br>
          <img src="/email.png" ></br>
          <%=  @sssubject_p[a].email %></br>
          <img src="/phone.png" ></br>
          <%=  @sssubject_p[a].phone %></br>
          
          
          <img src="/subject.png"></br>
          <% l=@sssubject_p[a].subjects.length %>
          <% for i in 0..(l-1) %>
              <%= @sssubject_p[a].subjects[i].sname %> ( <%= @sssubject_p[a].subjects[i].snumber %>) </br>
          <% end %>
        </form>
      </div>
    </div>
    <div class="col-md-3 col-xs-1 col-sm-1"></div>
    </div>    
  </div>

  <script>

  if($("#main").is(":hidden")){
  $("#main").slideDown("slow");}
  
 if($("#tri").is(":hidden")){
  $("#tri").slideDown("fast");}
  $("#snumber").css("opacity","1.0");
  
  $(".row a").mouseenter(function(){
    
	    $(this).css("opacity","1.0"); 

  }); 
  
   $(".row a").mouseleave(function(){
    
	    $(this).not("#snumber").css("opacity","0.5");
  }); 
 
  </script>
  </body>
</html>






